@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
html{
    scroll-behavior: smooth;
}
*,
*::after, 
*,::before{
    box-sizing: border-box;
}
.visual-hidden{
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}
body{
    margin: 0;
    padding: 0;
    margin-top: 62px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-btn {
    padding: 8px 16px;
    text-decoration: none;
    background: #00BAFC;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    border: 3px solid transparent;
}

.site-btn:hover {
    opacity: 0.8;
}

.site-btn:active {
    opacity: 0.4;
}

/* SITE-HEADER */

.site-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.site-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-header{
    display: flex;
    align-items: center;
}
.header-list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.header-link{
    padding: 16px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.header-link:hover{
    border-bottom: #000 3px solid;
}
.hero-container{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}
.hero-container-left{
    max-width: 470px;
}
.hero-container-left h1{
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 16px;
}
.hero-container-left p{
    margin: 0;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.hero-container-btn{
    display: inline-block;
}
.hero-iframe{
    width: 458px;
    height: 258px;
    border-radius: 5px;
}
.services {
    padding-top: 56px;
    padding-bottom: 56px;
}
.services-top{
    margin: 0 auto;
    max-width: 719px;
    margin-bottom: 16px;
    text-align: center;
}
.services-top h2{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 16px;
}
.services-top p{
    margin: 0;
    text-align: center;
    line-height: 16px;
}
.services-top{
    padding-top: 56px;
}
.services-box-list{
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.services-box-item{
    margin-top: 35px;
    margin: 20px;
    padding: 0px;
    width: 320px;
    height: 260px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
    text-align: center; 
}
.services-info-title{
    margin: 0;
    padding: 0;
    padding-top: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}
.services-info-text{
    margin: 0;
    padding: 0;
    padding-top: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.services-btn-box{
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-left: 380px;
}
.services-box-btn{
    margin-right: 20px;
    width: 167px;
    height: 40px;
}
.services-box-next-page-btn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #00BAFC; 
}
.we-working-container{
    padding-top: 20px;
    text-align: center;
}
.we-working-title{
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
}
.we-working-desc{
    margin: 0;
    margin-left: 175px;
    padding-top: 16px;
    width: 719px;
    height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.demand-site-box{
    margin-top: 24px;
    margin-bottom: 20px;
    padding-left: 85px;
    display: flex;
    align-items: center;
    text-align: left;
}
.demand-site-box-text{
    padding-left: 32px;
}
.demand-site-box-text h4{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;    
}
.demand-site-box-text p{
    width: 477px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.solutions-site-box{
    margin-top: 34px;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row-reverse;
}
.solutions-site-box-text h4{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;    
}
.solutions-site-box-text p{
    width: 719px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.site-register-container{
    margin-top: 20px;
    padding-top: 56px;
    height: 543px;
    background: #00BAFC;
    text-align: center;
}
.register-title{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;    
    text-align: center;
    color: #FFFFFF;
}
.services-text{
    margin: 0;
    padding: 0;
    padding-top: 16px;
    width: 1206px;
    margin-right: 46px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.register-box{
    display: inline-block;
    margin-top: 16px;
    width: 348px;
    height: 328px;
    background: #FFFFFF;
    border-radius: 5px;
}
.regiter-box-list{
     margin: 0;
     padding: 0;   
     padding-top: 16px;
     list-style: none;
}
.register-text{
    padding: 10px;
    width: 280px;
    height: 56px;
    outline: none;
    border: none;
    background: #F3F3F3;
    border-radius: 5px;    
}
.register-tel{
    margin-top: 32px;
    padding: 10px;
    width: 280px;
    height: 56px;
    outline: none;
    border: none;
    background: #F3F3F3;
    border-radius: 5px;   
}
.select{
    width: 280px;
    height: 56px;
    margin-top: 32px;
    margin-bottom: 24px;
    appearance: none;
    padding: 20px 40px;
    outline: none;
    border: none;
    background-image: url(../img/Polygon.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    border-radius: 5px;   
}

/* SITE-FOOTER */

.footer{
    margin-top: 24px;
    padding-top: 56px;
    background: #191919;
}
.foooter-container{
    display: flex;
    justify-content: space-around;
}
.footer-title{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}
.footer-text{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 320px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;    
    color: #FFFFFF;
}
.footer-navbar{
    display: flex;
}
.footer-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-item {
    margin: 0;
    padding: 0;
}
.footer-item a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #FFFFFF;
}
.footer-item a h5{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}
.social-media-site{
    margin: 0;
    padding: 0;
    margin-top: -35px;
    margin-left: 90px;
}
.social-media-site-item{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    list-style: none;
}
.social-media-site-item a h5{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.social-media-site-item a{
    vertical-align: middle;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;    
    color: #FFFFFF;
}